<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">No, I need revise my concepts.</span></button>
        <h4 class="modal-title" id="myModalLabel">Trying delete record: {{ record.name }} of {{ record.updated | date }}</h4>
      </div>

      <div class="modal-body">
        Are you absolutely sure that this record can be deleted?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="deleteAnswer(false)" data-dismiss="modal">No, I need revise my concepts.</button>
        <button type="button" class="btn btn-danger" ng-click="deleteAnswer(true)" data-dismiss="modal">Yes, my steps are safe.</button>
      </div>
    </div>
  </div>
</div>
